---
import { ClientRouter } from 'astro:transitions'
import { siteConfig } from '~/utils/site-config'

export type Props = {
  postTitle?: string
  postDescription?: string
}

const { postTitle, postDescription } = Astro.props

// Site Configuration
const { title, subtitle, description, author, url, favicon } = siteConfig.site
const { mode, light, dark } = siteConfig.color

// Site Metadata
const initialTheme = mode === 'dark' ? dark : light
const siteTitle = title
const siteSubtitle = subtitle
const siteDescription = description

// Page Metadata
const pageTitle = postTitle
  ? `${postTitle} - ${siteTitle}`
  : `${siteTitle} - ${siteSubtitle}`
const pageDescription = postDescription || siteDescription
---

<head>
  <!-- Basic Info -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  {
    favicon.toLowerCase().endsWith('.svg') && (
      <link rel="icon" type="image/svg+xml" href={favicon} />
    )
  }
  {
    favicon.toLowerCase().endsWith('.png') && (
      <link rel="icon" type="image/png" href={favicon} />
    )
  }
  {
    favicon.toLowerCase().endsWith('.ico') && (
      <link rel="icon" type="image/x-icon" href={favicon} />
    )
  }
  <title>{pageTitle}</title>
  <meta name="description" content={pageDescription} />
  <meta name="author" content={author} />
  <meta name="theme-color" content={initialTheme} />

  <!-- Preload -->
  <link
    rel="preload"
    href="/fonts/Satoshi-Variable.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  <!-- Site Links -->
  <link rel="canonical" href={Astro.url} />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Open Graph -->
  <meta property="og:type" content={postTitle ? 'article' : 'website'} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={pageTitle} />
  <meta property="og:description" content={pageDescription} />
  <meta property="og:image" content="TODO" />
  <meta name="twitter:card" content="summary_large_image" />

  <!-- Global View Transition -->
  <ClientRouter fallback="none" />
</head>
